.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin-bottom: 5vh;
  min-height: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  border-radius: 3px;
  height: auto;
  margin: 6px 0;
  min-height: 40px;
  width: 120px;
}

.wrong-answer {
  border: 3px solid red;
  border-radius: 3px;
  height: auto;
  margin: 6px 0;
  min-height: 40px;
  width: 120px;
}

.display-Inputs {
  display: inline-block;
  height: 25px;
  margin: 0.9vh 0;
  max-width: 300px;
  width: 90%;
}

.form {
  align-items: center;
  background-color: #3c4c70;
  border-radius: 3px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 0 auto;
  min-width: 300px;
  width: 50%;
}

.btn-play {
  background-color: rgb(63, 57, 145);
  box-shadow: 1px 1px 3px #282c34;
  color: aliceblue;
}

.btn-play:disabled {
  background-color: gray;
  box-shadow: none;
  color: aliceblue;
}


.btn-play:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.5s linear;
}

.btn-login {
  border: none;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px #282c34;
  font-size: 13px;
  height: 30px;
  margin-top: 2vh;
  max-width: 150px;
  text-align: center;
  width: 70%;
}


.btn-login:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.5s linear;
}

.header {
  background-color: #3c4c70;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-width: 250px;
  padding: 0 5px;
  width: 62%;
}

.containerLogo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.logoAvatar {
  border-radius: 50%;
}

.score {
  color: aliceblue;
  font-size: 1.3em;
  margin-top: 40px;
}

.category {
  background-color: #545fa1;
  border-radius: 100%;
  bottom: 35px;
  color: aliceblue;
  height: 80px;
  margin: 20px auto;
  padding: 40px 5px 0;
  position: relative;
  width: 120px;
}

.container-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-question {
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #282c34;
  height: auto;
  margin: 6px 0;
  min-height: 40px;
  width: 120px;
}

.container-feedback {
  background-color: #3c4c70;
  border-radius: 9px;
  margin: 30px auto;
  min-width: 230px;
  text-align: center;
  width: 40%;
}

.feedback-title {
  color: aliceblue;
  padding-top: 20px;
}

.feedback-btn {
  border: none;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px #282c34;
  font-size: 13px;
  height: 30px;
  margin: 1.5vh 2px;
  max-width: 150px;
  text-align: center;
  width: 70%;
}

.feedback-btn:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.5s linear;
}

.feedback-score, .feedback-assertions, .user-feedback, .review-feedback {
  color: aliceblue;
}


.img-feedback {
  border-radius: 50%;
}

.btn-question:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.5s linear;
}

.body {
  background-image: url('https://i.pinimg.com/originals/5b/4c/d2/5b4cd292f6f382ab8d8a51b9fcaad5ed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container-question {
  background-color: #3c4c70;
  border-radius: 9px;
  margin: 30px auto;
  min-width: 230px;
  padding: 15px;
  text-align: center;
  width: 60%;

}

.btn-next {
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px black;
  color: #3c4c70;
  height: 40px;
  margin: 6px 0;
  width: 80px;
}

.btn-next:active {
  box-shadow: none;
  transform: scale(0.9);
  transition: 0.5s linear;
}

.question {
  color: aliceblue;
}

.cont-questions {
  color: aliceblue;
  display: inline-block;
  font-size: 22px;
  margin-right: 90%;
  text-align: left;
}

.timer {
  color: aliceblue;
  display: inline-block;
  font-size: 22px;
  text-align: right;
}


.ltTimer {
  color: red;
  display: inline-block;
  font-size: 22px;
  text-align: right;
}


.user {
  color: aliceblue;
  font-size: 32px;
  position: fixed;
}

.container-ranking {
  background-color: #3c4c70;
  border-radius: 3px;
  box-shadow: 1px 1px 4px black;
  color: aliceblue;
  font-size: 22px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  width: 80%;
}

.container-list {
  max-height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}

.ranking-title {
  color: aliceblue;
}

ul {
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 15px 0;
}

hr {
  opacity: 30%;
  width: 100%;
}

.container-graphic {
  background-color: aquamarine;
  margin: 0 auto;
  width: 50%;
}

.graphic {
  position: relative;
  width: 200px;
}

@media ( max-width : 1200px ) {

  canvas {
    width: 80%;
  }
}

@media ( max-width : 770px ) {


  .cont-questions {
    color: aliceblue;
    display: inline-block;
    font-size: 22px;
    margin-right: 80%;
    text-align: left;
  }
}

@media ( max-width : 600px ) {

  .header {
    flex-wrap: wrap;
  }

  .user {
    color: aliceblue;
    font-size: 32px;
    margin-right: 20px;
    position: static;
  }
}

@media ( max-width : 450px ) {

  .header {
    flex-wrap: wrap;
  }

  .score {
    margin-bottom: 10px;
    margin-top: 0;
  }

}

@media ( max-width : 380px ) {

  .cont-questions {
    color: aliceblue;
    display: inline-block;
    font-size: 22px;
    margin-right: 70%;
    text-align: left;
  }
}
